.loginSignupFormContainer{
    
    width:100vw;
    height: 100vh;
}
.formMainContainer{
    width:33rem;
    margin: auto;
    height: auto;
    margin-top: 7rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 27rem;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
}