.brandName{
    margin-left:2%;
}
.searchBar{
    position: relative;
    left:-40%;
}
.profileBox{
    width:50px;
    height:50px;
    border: 1px solid red;
    border-radius: 50%;
   position: relative;
   margin-left: -100px;   
}
.profileName{
    position: relative;
    top:30px;
    left:30px;
    font-weight: bold;
    text-transform: uppercase;
    visibility: hidden;
}
.navContainer{
    position: sticky;
    margin-top: 5px;
    width:95%;
    margin-left: 2.5%;
    border-radius: 30px;
}
.productsNavLink{
    position: relative;
    left:-50px;
    top:8px;
    color:black;
}
.profileDropdown{
    position: absolute;
    margin-left:-7rem;
    top:3.5rem;
    z-index: 2;
    background-color: white;
    width:150px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 7px;
}
.profileDropdown>div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 45px;
    line-height: 3;
}
.profileDropdown>div:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
}
.loginLink{
    position: relative;
    margin-left: -80px;
    left:-1rem;
}

/*  */





/*  */

@media screen and (max-width:450px) {
    .rightBox{
        display: flex;
        flex-direction: column-reverse;
    }
    .brandName{
        margin-left: 0;
    }
    .searchBar{
        left:0;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .productsNavLink{
        left:10px;
        top:-12px;
    }
    .profileBox{
        top:10px;
        left:-390%;
    }
    .profileName{
        top:25px;
        left:-300%;
        visibility: visible;
    }
    .navContainer{
        width:100%;
        margin-left: 0;
        margin-top: 0;
    }
}